{% extends 'base.html' %}

{% block title %}Нехватка{% endblock %}

{% block page_title %}Нехватка{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header">
                Нехватка
                <div class="card-actions">
                    <a href="{% url 'LK:need_items_create' %}" class="btn w-100">Создать запись</a>
                </div>
            </div>
            <div class="card-body">
                <div class="card-title mb-2">Невыполненные нехватки</div>
                <table id="need-items-without-success-table" class="table">
                    <thead>
                    <tr class="column-filter dt-column-filter">
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Дата</th>
                        <th>Заведение</th>
                        <th>Владелец</th>
                        <th>Предмет</th>
                        <th>Факт | Отпр | Получ</th>
                        <th>Комментарий</th>
                        <th></th>
                    </tr>
                    </thead>
                </table><br>
                <div class="card-title mb-2">Выполненные нехватки</div>
                <table id="need-items-with-success-table" class="table">
                    <thead>
                    <tr class="column-filter dt-column-filter">
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Дата</th>
                        <th>Заведение</th>
                        <th>Владелец</th>
                        <th>Предмет</th>
                        <th>Факт | Отпр | Получ</th>
                        <th>Дата получения</th>
                        <th>Комментарий</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        run_datatable('need-items-without-success-table', '/api/item_deficit?without_success=1', '/lk/need_items', [
            {data: 'created_at'},
            {data: 'storage_name'},
            {data: 'owner_fio'},
            {data: 'item'},
            {
                data: 'amount',
                render: function (data, type, row) {
                    let sended_amount = 0;
                    if(row.sended_amount != null) {
                        sended_amount = row.sended_amount
                    }
                    let arrived_amount = 0;
                    if(row.arrived_amount != null) {
                        arrived_amount = row.arrived_amount
                    }
                    return row.amount + ' | ' + sended_amount + ' | ' + arrived_amount
                }
            },
            {data: 'comment'},
            {
                data: null,
                render: function (data, type, row) {
                    if (row.status === 1) {
                        {#return "<button onclick='window.location.href = " + url + "' class='btn w-100'>Отправить</button>"#}
                        return '<a data-bs-toggle="modal" data-bs-target="#need-items-send-modal-' + row.id + '" class="btn w-100">Отправить</a>' +
                            '<div class="modal modal-blur fade" id="need-items-send-modal-' + row.id + '" tabindex="-1" role="dialog" aria-hidden="true">' +
                                '<div class="modal-dialog modal-dialog-centered" role="document">' +
                                    '<div class="modal-content">' +
                                        '<form action="/lk/need_items/send?id=' + row.id + '" method="post">' +
                                                    '{% csrf_token %}' +
                                        '<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>'+
                                        '<div class="modal-body text-center py-4">' +
                                            '<h3>Заполните информацию</h3>' +
                                            '<div class="text-muted" id="confirm-text">' +
                                                    '<div class="mb-4">' +
                                                        '<input type="tel" inputmode="numeric" class="form-control" name="sended_amount" placeholder="Введите привезенное количество предметов">' +
                                                    '</div>' +
                                                    '<div class="mb-2">' +
                                                        '<input class="form-control" name="comment" placeholder="Введите комментарий (необязательно)">' +
                                                    '</div>' +
                                            '</div>' +
                                        '</div>' +
                                        '<div class="modal-footer">' +
                                            '<div class="w-100">' +
                                                '<div class="row">' +
                                                    '<div class="col"><a href="#" class="btn w-100" data-bs-dismiss="modal">' +
                                                        'Отмена' +
                                                    '</a></div>' +
                                                    '<div class="col">' +
                                                        '<button id="confirm-delete1" class="btn btn-tabler w-100"' +
                                                                'data-bs-dismiss="modal">' +
                                                            'Отправить' +
                                                        '</button>' +
                                                    '</div>' +
                                                '</div>' +
                                            '</div>' +
                                        '</div>' +
                                        '</form>' +
                                    '</div>' +
                                '</div>' +
                            '</div>'
                    } else if (row.status === 2) {
                        return '<i class="fa fa-long-arrow-down"></i>'
                    } else if (row.status === 3) {
                        return '<i class="fa fa-check-circle"></i>'
                    }
                }
            }
        ], has_delete = false, has_update = false, has_dismiss = false, has_edit = false, has_actions = false, custom_dict = {
            createdRow: function (row, data, dataIndex) {
                if (data.status === 1) {
                    $(row).addClass('table-danger');
                } else if (data.status === 2) {
                    $(row).addClass('table-warning');
                } else if (data.status === 3) {
                    $(row).addClass('table-success');
                }
            }
        })
    </script>
    <script>
        run_datatable('need-items-with-success-table', '/api/item_deficit?without_success=0', '/lk/need_items', [
            {data: 'created_at'},
            {data: 'storage_name'},
            {data: 'owner_fio'},
            {data: 'item'},
            {
                data: 'amount',
                render: function (data, type, row) {
                    let sended_amount = 0;
                    if(row.sended_amount != null) {
                        sended_amount = row.sended_amount
                    }
                    let arrived_amount = 0;
                    if(row.arrived_amount != null) {
                        arrived_amount = row.arrived_amount
                    }
                    return row.amount + ' | ' + sended_amount + ' | ' + arrived_amount
                }
            },
            {data: 'receive_date'},
            {data: 'comment'},
            {
                data: null,
                render: function (data, type, row) {
                    if (row.status === 1) {
                        url = '"/lk/need_items/send?id=' + row.id + '"'
                        return "<button onclick='window.location.href = " + url + "' class='btn w-100'>Отправить</button>"
                    } else if (row.status === 2) {
                        return '<i class="fa fa-long-arrow-down"></i>'
                    } else if (row.status === 3) {
                        return '<i class="fa fa-check-circle"></i>'
                    }
                }
            }
        ], has_delete = false, has_update = false, has_dismiss = false, has_edit = false, has_actions = false, custom_dict = {
            createdRow: function (row, data, dataIndex) {
                if (data.status === 1) {
                    $(row).addClass('table-danger');
                } else if (data.status === 2) {
                    $(row).addClass('table-warning');
                } else if (data.status === 3) {
                    $(row).addClass('table-success');
                }
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            let first_tab = $('#btn-tab-top-1')
            let second_tab = $('#btn-tab-top-2')
            first_tab.click(function () {
                $('.tab-top').removeClass('active')
                first_tab.addClass('active')
            })
            second_tab.click(function () {
                $('.tab-top').removeClass('active')
                second_tab.addClass('active')
            })
        })
    </script>
{% endblock %}
