{% extends 'bar_base.html' %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3 mb-2">
            <div class="card-header card-header-light rounded-top-3">Конец дня</div>
            <div class="card-table">
                <table class="table table-sm table-striped nowrap w-100">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Касса утро</th>
                            <th>Касса вечер</th>
                            <th>Выручка</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row.date_at }}</td>
                                <td>{{ row.sum_cash_morning }}</td>
                                <td>{% if row.sum_cash_end_day %}{{ row.sum_cash_end_day }}{% else %}Не заполнено{% endif %}</td>
                                <td>{% if row.total_day %}{{ row.total_day }}{% else %}Не загружено{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card rounded-3">
            <div class="card-body">
                <div class="row">
                    {% if is_current %}
                        <div class="col-6">
                            <a href="{% url 'Bar:data_log_end_day' %}?code={{ code }}&date={{ previous }}" class="btn btn-tabler w-100">Предыдущий день</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'Bar:data_log_end_day' %}?code={{ code }}&date={{ next }}" class="btn btn-tabler w-100">Следующий день</a>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <a href="{% url 'Bar:data_log_end_day' %}?code={{ code }}&date={{ previous }}" class="btn btn-tabler w-100">Предыдущий день</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
