{% extends 'bar_base.html' %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3 mb-2">
            {% if information.today and information.close_date is None%}
                <div class="card-header card-header-light"><b>Смена еще не закрыта</b>
                <div class="card-actions">
                    <a href="{% url 'Bar:end_day' %}?code={{ code }}" id="update_timetable" class="btn btn-tabler">Текущий конец дня</a>
                </div>
                </div>
            {% else %}
                <div class="card-header card-header-light"><b>Конец дня (№{{ information.session_number }})</b></div>
                <div class="card-body">
                    <p class="mb-3">
                        Смена открыта: {{ information.open_date }}
                        {% if information.close_date is not None %}<br> Смена закрыта:
                            {{ information.close_date }}{% endif %}
                    </p>
                    <p class="mb-3">
                        Выручка: {{ information.total_day }}<br>
                        Наличные: {{ information.total_cash }} ({{ information.cash }}
                        + {{ information.cash_point }})<br>
                        Оплата картой: {{ information.total_bn }}<br>
                        Яндекс ЕДА: {{ information.yandex }}<br>
                        Delivery Club: {{ information.delivery }}<br>
                        Сумма для начисления процентов: {{ information.sum_for_percent }}<br>
                    </p>
                    <p class="mb-3">
                        Касса утро: {{ information.sum_cash_morning }}<br>
                        Расходы (из кассы): {{ information.expenses_nal }}<br>
                        Зарплата аванс: {{ information.salary_prepayment }}<br>
                        Зарплата расчет: {{ information.salary_month }}<br>
                        Внесения: {{ information.payin }}<br>
                        Изъятия: {{ information.payout }}
                    </p>
                </div>
                </div>
                {% if not information.error %}
                    <div class="card rounded-3">
                        <div class="card-body">
                            <b>Сумма для заполнения в IIKO:</b> {{ information.cash }}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        <div class="card rounded-3">
            <div class="card-body">
                <div class="row">
                    {% if is_current %}
                        <div class="col-6">
                            <a href="{% url 'Bar:data_log_end_day' %}?code={{ code }}&date={{ previous }}"
                               class="btn btn-tabler w-100">Предыдущий день</a>
                        </div>
                        <div class="col-6">
                            <a href="{% url 'Bar:data_log_end_day' %}?code={{ code }}&date={{ next }}"
                               class="btn btn-tabler w-100">Следующий день</a>
                        </div>
                    {% else %}
                        <div class="col-12">
                            <a href="{% url 'Bar:data_log_end_day' %}?code={{ code }}&date={{ previous }}"
                               class="btn btn-tabler w-100">Предыдущий день</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
