{% extends 'base.html' %}

{% block title %}Редактирование{% endblock %}
{% block page_title %}Редактирование категории {{ row.name }}{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-top-3">Редактирование</div>
            <div class="card-body">
                <form action="{% url 'IIKO:category_edit' %}?id={{ row.id }}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" name="is_remains" value="is_remains_1"
                                   {% if row.is_remains %}checked{% endif %}>
                            <span class="form-check-label">Участвует в остатке</span>
                        </label>
                    </div>

                    <div class="mb-4">
                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" name="is_sales" value="is_sales_1"
                                   {% if row.is_sales %}checked{% endif %}>
                            <span class="form-check-label">Участвует в продаже</span>
                        </label>
                    </div>
                    <div class="mb-4">
                        <label class="form-check">
                            <input class="form-check-input" type="checkbox" name="is_income" value="is_income_1"
                                   {% if row.is_income %}checked{% endif %}>
                            <span class="form-check-label">Участвует в поступлении</span>
                        </label>
                    </div>
                    <div class="mb-2">
                        <button type="submit" class="btn btn-success w-100">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
