{% extends 'base.html' %}

{% block title %}Редактирование{% endblock %}
{% block page_title %}Редактирование категории {{ row.name }}{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-top-3">Редактирование</div>
            <div class="card-body">
                <form action="{% url 'IIKO:category_edit' %}?id={{ row.id }}" method="post">
                    {% csrf_token %}
                    {% for k, v in row.args.items %}
                        <div class="mb-4">
                            <label class="form-check">
                                <input class="form-check-input" type="radio" name="{{ k }}" value="1"
                                       {% if v.status is True %}checked{% endif %}>
                                <span class="form-check-label">Участвует в {{ v.name }}</span>
                            </label>
                            <label class="form-check">
                                <input class="form-check-input" type="radio" name="{{ k }}" value="0"
                                       {% if v.status is False %}checked{% endif %}>
                                <span class="form-check-label">Не участвует в {{ v.name }}</span>
                            </label>
                        </div>
                    {% endfor %}
                    <div class="mb-2">
                        <button type="submit" class="btn btn-success w-100">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
