{% extends 'purchaser/base.html' %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3 mb-3">
            <div class="card-header card-header-light">Фильтр</div>
            <div class="card-body">
                <form action="{% url 'Purchaser:index' %}">
                    <input class="form-control date-at" name="date_at" placeholder="Выберите дату" {% if date_at %}value="{{ date_at }}"{% endif %}><br>
                    <select class="form-select mb-1" placeholder="Выберите заведение" name="storage_id">
                        <option></option>
                        {% for storage in storages %}
                            <option value="{{ storage.id }}" {% if storage.id == storage_id %}selected{% endif %}>{{ storage.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-tabler w-100">Применить</button>
                </form>
            </div>
        </div>
        <div class="card rounded-3">
            <div class="card-body">
                <table class="table table-sm table-vcenter">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Заведение</th>
                            <th>Получатель платежа</th>
                            <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr>
                                <td>{{ row.date_at|date:'m.d' }}</td>
                                <td>{{ row.storage.name }}</td>
                                <td>{{ row.payment_receiver }}</td>
                                <td>{{ row.sum }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
