{% extends 'base.html' %}

{% block title %}Редактирование записи{% endblock %}
{% block page_title %}Редактирование информации о контрагенте{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-body">
                <form action="{% url 'LK:bank_partners_edit' %}?id={{ row.id }}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label">Контрагент</label>
                        <input class="form-control" name="num"
                               placeholder="Введите 4 последние цифры карты либо номер мерчанта без знаков"
                               value="{{ row.name }}" disabled>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">ИНН</label>
                        <input class="form-control" name="num"
                               placeholder="Введите 4 последние цифры карты либо номер мерчанта без знаков"
                               value="{{ row.inn }}" disabled>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Имя для отображения</label>
                        <input class="form-control" name="friendly_name" placeholder="Введите наименование карты или мерчанта"
                               value="{{ row.friendly_name }}">
                    </div>
                    <div class="mb-4">
                    <label class="form-label">Тип расчета</label>
                        <select class="form-select" name="expense_type" multiple>
                        <option value="">Выберите или оставьте пустым</option>
                            <option></option>
                            {% for type in expense_type %}
                                <option value="{{ type.id }}" {% if type in row.expense_type.all %}selected{% endif %}>{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Заведение</label>
                        <select class="form-select" name="storage_id" multiple>
                            <option></option>
                            <option value="">Выберите или оставьте пустым</option>
                            {% for storage in storages %}
                                <option value="{{ storage.id }}" {% if storage in row.storages.all %}selected{% endif %}>{{ storage.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-1">
                        <button type="submit" class="btn btn-success w-100">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
