{% extends 'bar_base.html' %}

{% block body %}
    <div class="container-xl">
        <center><h1>Поступления.Напитки</h1></center>
        <div class="card rounded-3 mb-2">
            <div class="card-table">
                <table class="table table-sm">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Продукт</th>
                        <th>Кол-во</th>
                        <th>Сумма</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in rows %}
                        <tr onclick="delete_confirm({{ row.id }}, 'Вы уверены, что хотите удалить поступление?', '/bar/arrivals/delete')"
                            class="table-{% if row.type == 0 %}danger{% else %}success{% endif %}">
                            <td>{{ row.num }}</td>
                            <td>{{ row.product.name }}</td>
                            <td>{{ row.amount }}</td>
                            <td>{{ row.sum }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card rounded-3">
            <div class="card-body">
                <form action="{{ request.path }}?code={{ code }}" method="post">
                    {% csrf_token %}
                    <div id="invoice-form-body">
                        <input class="form-control mb-2" name="invoice-number"
                               placeholder="Введите номер накладной"
                               required>
                        <select class="form-select mb-2" name="payment-type" placeholder="Выберите тип оплаты"
                                required>
                            <option value="" disabled selected>Выберите тип оплаты</option>
                            <option>Неоплачено</option>
                            <option value="nal">Из кассы</option>
                            <option value="bn">Картой</option>
                        </select>
                        <select class="form-select mb-2" name="supplier_id" placeholder="Выберите поставщика">
                            <option value="" disabled selected>Выберите поставщика</option>
                            {% for supplier in suppliers %}
                                <option value="{{ supplier.id }}">{{ supplier.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="mb-3">
                            <h3>Строка: 1</h3>
                            <select class="form-select mb-2" name="product-id[1]" placeholder="Выберите продукт"
                                    required>
                                <option value="" disabled selected>Выберите продукт</option>
                                {% for product in products %}
                                    <option value="{{ product.id }}">{{ product.name }}</option>
                                {% endfor %}
                            </select>
                            <input class="form-control mb-2" type="tel" inputmode="numeric" name="amount[1]"
                                   placeholder="Введите количество" required>
                            <input class="form-control mb-2" type="tel" inputmode="numeric" name="sum[1]"
                                   placeholder="Введите сумму" onkeyup="updateInvoiceTotalSum()" required>
                        </div>
                    </div>
                    <button type="button" class="btn w-100 mb-1" id="add-invoice-num">Добавить строку</button>
                    <div class="right mb-1">
                        <h3>Итого: <span id="invoice_total_sum">0</span></h3>
                    </div>
                    <button type="submit" class="btn w-100">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function updateInvoiceTotalSum() {
            let total_sum = 0;

            $('input[name^="sum["]').each(function () {
                let sum = parseFloat($(this).val());
                if (!isNaN(sum)) {
                    total_sum += sum;
                }
            });
            $('#invoice_total_sum').text(total_sum.toFixed(2));
        }

        let item = 1;
        $(document).ready(function () {
            $('#add-invoice-num').click(function () {
                let invoice_form_body = $('#invoice-form-body')
                item += 1
                invoice_form_body.append(
                    '<div class="mb-3">' +
                    '<h3>Строка: ' + item + '</h3>' +
                    '<select class="form-select mb-2" name="product-id[' + item + ']" placeholder="Выберите продукт" required>' +
                    '<option value="" disabled selected>Выберите продукт</option>' +
                    {% for product in products %}
                        '<option value="{{ product.id }}">{{ product.name }}</option>' +
                    {% endfor %}
                    '</select>' +
                    '<input class="form-control mb-2" type="tel" inputmode="numeric" name="amount[' + item + ']"' +
                    'placeholder="Введите количество" required>' +
                    '<input class="form-control mb-2" type="tel" inputmode="numeric" name="sum[' + item + ']"' +
                    'placeholder="Введите сумму" onkeyup="updateInvoiceTotalSum()" required>' +
                    '</div>'
                )
            })
        })
    </script>
{% endblock %}
