{% extends 'bar_base.html' %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3 mb-2">
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Продукт</th>
                            <th>Кол-во</th>
                            <th>Сумма</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                            <tr onclick="delete_confirm({{ row.id }}, 'Вы уверены, что хотите удалить поступление?', '/bar/arrivals/delete')"
                                class="table-{% if row.type == 0 %}danger{% else %}success{% endif %}">
                                <td>{{ row.num }}</td>
                                <td>{{ row.product.name }}</td>
                                <td>{{ row.amount }}</td>
                                <td>{{ row.sum }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card rounded-3">
            <div class="card-body">
                <form action="{{ request.path }}?code={{ code }}" method="post">
                    {% csrf_token %}
                    <input class="form-control mb-2" name="invoice-number" placeholder="Введите номер накладной" required>
                    <select class="form-select mb-2" name="product-id" placeholder="Выберите продукт" required>
                        <option></option>
                        {% for product in products %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                        {% endfor %}
                    </select>
                    <input class="form-control mb-2" type="tel" inputmode="numeric" name="amount" placeholder="Введите количество" required>
                    <input class="form-control mb-2" type="tel" inputmode="numeric" name="sum" placeholder="Введите сумму" required>
                    <select class="form-select mb-2" name="payment-type" placeholder="Выберите тип оплаты" required>
                        <option></option>
                        <option>Неоплачено</option>
                        <option value="nal">Из кассы</option>
                        <option value="bn">Картой</option>
                    </select>
                    <button type="submit" class="btn btn-success w-100">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
