{% extends 'bar_base.html' %}

{% block body %}
    {% if information.close_date is not None and information.sum_cash_end_day is None %}
        <div class="modal modal-blur fade" id="close-day" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action="{% url 'Bar:end_day' %}?code={{ code }}" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title">Остаток наличных в кассе</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3 align-items-end">
                                <div class="col">
                                    <label class="form-label">Остаток наличных в кассе</label>
                                    <input type="tel" inputmode="numeric" class="form-control" name="sum_cash_end_day"
                                            placeholder="Введите остаток наличных в кассе"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
    {% if information.error is not True %}
        <div class="container-xl">
            <div class="card rounded-3">
                <div class="card-header card-header-light"><b>Конец дня (№{{ information.session_number }})</b></div>
                <div class="card-body">
                    <p class="mb-3">
                        Смена открыта: {{ information.open_date }}
                        {% if information.close_date is not None %}<br> Смена закрыта: {{ information.close_date }}{% endif %}
                    </p>
                    <p class="mb-3">
                        Выручка: {{ information.total_day }}<br>
                        Наличные: {{ information.total_cash }} ({{ information.cash }} + {{ information.cash_point }})<br>
                        Оплата картой: {{ information.total_bn }}<br>
                        Яндекс ЕДА: {{ information.yandex }}<br>
                        Delivery Club: {{ information.delivery }}<br>
                        Сумма для начисления процентов: {{ information.sum_for_percent }}<br>
                    </p>
                    <p class="mb-3">
                        Касса утро: {{ information.sum_cash_morning }}<br>
                        Расходы (из кассы): {{ information.expenses_nal }}<br>
                        Зарплата аванс: {{ information.salary_prepayment }}<br>
                        Зарплата расчет: {{ information.salary_month }}<br>
                        Внесения: {{ information.payin }}<br>
                        Изъятия: {{ information.payout }}
                    </p>
                    {% if information.close_date is not None %}
                        <p class="mb-2">
                            {% if information.sum_cash_end_day is None %}
                                <a class="btn btn-tabler w-100" data-bs-toggle="modal" data-bs-target="#close-day">Заполнить остаток наличных в кассе</a>
                            {% else %}
                                <b>Остаток наличных в кассе: </b>{{ information.sum_cash_end_day }}<br>
                                <b>Расчетный остаток на наличных в кассе: </b>{{ information.calculated }}<br>
                                <b>Разница: </b>{{ information.difference }}
                            {% endif %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block notification %}

{% endblock %}

{% block scripts %}
    {% if information.error is True %}
        <script>
            $(document).ready(function () {
                notification(false, 'Вы еще не открыли смену в CRM :(')
            });
        </script>
    {% endif %}
    {% if information.sum_cash_end_day is None and information.close_date is not None %}
        <script>
            $(document).ready(function() {
                if (document.getElementById('close-day') !== null) {
                    $('#close-day').modal('show');
                }
            })
        </script>
    {% endif %}
{% endblock %}
