{% extends 'bar_base.html' %}

{% block body %}
<div class="container-xl">
    <div class="mb-2">
        <div class="card rounded-3">
            <div class="card-header card-header-light">Расходы (нал: {{ expenses.nal }} / безнал: {{ expenses.bn }})
            </div>
            <table class="table card-table table-hover table-sm nowrap w-100">
                <tbody>
                    {% for row in rows %}
                    <tr
                        onclick="delete_confirm('{{ row.id }}', 'Вы действительно хотите удалить этот расход?<br><br>({{ row.expense_type.name }} - {{ row.sum }})', '/bar/expenses/delete')">
                        <td>{{ row.expense_type.name }} ({{ row.expense_source.name }})<br><span class="text-secondary">{{ row.comment }}</span></td>
                        <td>{{ row.sum }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card rounded-3 mb-2">
        <div class="card-body">
            <form action="{% url 'Bar:expenses' %}?code={{ code }}" method="post">
                {% csrf_token %}
                <div class="mb-2">
                    <select class="form-select" placeholder="Выберите источник расхода" name="expense-source" required>
                        <option></option>
                        {% for source in expenses_sources %}
                        {% if source.name == 'Наличные' or source.name == 'Бизнес-карта' %}
                        <option value="{{ source.id }}">{{ source.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% for type in expenses_types %}
                <div class="mb-2">
                    <div class="row">
                        <div class="col-4">{{ type.name }}</div>
                        <div class="col-4">
                            <input class="form-control" type="tel" inputmode="numeric" name="sum[{{ type.id }}]"
                                placeholder="Сумма">
                        </div>
                        {% if type in bar_setting.expenses_types_with_employees_in_comment.all %}
                        <div class="col-4">
                            <select class="form-select" placeholder="Cотрудник" name="comment[{{ type.id }}]">
                                <option></option>
                                {% for row in timetable %}
                                <option>{{ row.employee.fio }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% else %}
                        <div class="col-4">
                            <input class="form-control" name="comment[{{ type.id }}]" placeholder="Комментарий">
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="mb-1">
                    <button type="submit" class="btn btn-tabler w-100">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card rounded-3">
        <div class="card-body">
            <table class="table mb-2 table-hover table-sm nowrap w-100">
                <tbody>
                    {% for row in pays_rows %}
                    <tr
                        onclick="delete_confirm('{{ row.id }}', 'Вы действительно хотите удалить эту запись?', '/bar/pays/delete')">
                        <td>{{ row.get_type_display }}</td>
                        <td>{{ row.sum }}</td>
                        <td>{{ row.comment }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <form action="{% url 'Bar:pays_add' %}?code={{ code }}" method="post">
                {% csrf_token %}
                <div class="mb-2">
                    <div class="row mb-2">
                        <div class="col-4">Масло</div>
                        <div class="col-4">
                            <input class="form-control" name="oil_comment" placeholder="Комментарий">
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="tel" inputmode="numeric" name="oil_sum"
                                placeholder="Сумма">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">Закупщик</div>
                        <div class="col-4">
                            <input class="form-control date-at" name="purchaser_comment" placeholder="Дата">
                        </div>
                        <div class="col-4">
                            <input class="form-control" type="tel" inputmode="numeric" name="purchaser_sum"
                                placeholder="Сумма">
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <button type="submit" class="btn btn-tabler w-100">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}