{% extends 'bar_base.html' %}

{% block title %}FAQ{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-3">
                <h3 class="card-title">FAQ</h3>
                <div class="card-actions"></div>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <input type="text" id="search_input" class="form-control" placeholder="Поиск по тегам">
                </div>
                <div id="faq_accordion" class="accordion"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $.ajax({
                data: $(this).serialize(),
                url: '/api/faq',
                type: 'get',
                success: function (response) {
                    let faq = $('#faq_accordion');
                    faq.html('');

                    function getBadgeByTags(tags) {
                        let badges = tags.toString().split(",").map(function (tag) {
                            return '<span class="badge bg-blue-lt">' + tag.trim() + '</span>';
                        });
                        return badges.join(' ');
                    }

                    function filterFAQ(searchText) {
                        let filteredFAQ = response.filter(function (row) {
                            let tags = row['tags'].toString().toLowerCase();
                            return tags.includes(searchText.toLowerCase());
                        });

                        faq.html('');
                        filteredFAQ.forEach(function (row) {
                            faq.append(
                                '<div class="accordion-item">' +
                                '<div class="accordion-header">' +
                                '<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"' +
                                'data-bs-target="#item_' + row['id'] + '" aria-expanded="false">' +
                                '<div class="mx-2">' + getBadgeByTags(row['tags']) + '</div>' +
                                row['title'] +
                                '</button></div>' +
                                '<div id="item_' + row['id'] + '" class="accordion-collapse collapse" ' +
                                'data-bs-parent="#faq_accordion" style="">' +
                                {#'<div class="accordion-body pt-0"><pre class="bg-light text-black">' + row['body'] + '</pre></div></div></div>'#}
                                '<div class="accordion-body pt-0"><pre>' + row['body'] + '</pre></div></div></div>'
                                {#'<div class="accordion-body pt-0">' + row['body'].replace(/\r\n/g, "<br>") + '</div></div></div>'#}
                            );
                        });
                    }

                    $('#search_input').on('input', function () {
                        let searchText = $(this).val();
                        filterFAQ(searchText);
                    });

                    filterFAQ('');
                }
            });
        });
    </script>
{% endblock %}
