{% extends 'bar_base.html' %}

{% block body %}
    <div class="container-xl">
        {% if is_morning_cashbox_filled %}
            <div class="card rounded-3 mb-2">
                <div class="card-body">
                    <label class="form-label">Касса вечер предыдущего дня</label>
                    <input class="form-control" value="{{ evening_cashbox_previous_day }}" disabled>
                </div>
            </div>
            <div class="card rounded-3 mb-2">
                <div class="card-body">
                    <label class="form-label">Касса утро</label>
                    <input class="form-control" type="tel" inputmode="numeric"
                           name="sum_cash_morning" value="{{ is_morning_cashbox_filled }}" disabled>
                </div>
            </div>
        {% endif %}
        <div class="card rounded-3 overflow-hidden mb-2">
            <table id="table" class="table card-table table-mobile-sm table-hover">
                <tbody>
                {% for row in rows %}
                    <tr onclick="delete_confirm('{{ row.id }}', 'Вы действительно хотите удалить сотрудника {{ row.employee.fio }}?', '/bar/timetable/delete')">
                        <td>
                            {{ row.employee.fio }}<br>
                            <span class="text-sm text-secondary">{{ row.position.name }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <form action="{% url 'Bar:index' %}?code={{ code }}" method="post">
            {% csrf_token %}
            {% if is_morning_cashbox_filled is False %}
                <div class="card rounded-3 mb-2">
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label">Касса утро</label>
                            <input class="form-control" type="tel" inputmode="numeric"
                                   placeholder="Введите остаток в кассе на утро"
                                   name="sum_cash_morning">
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card rounded-3 mb-2">
                <div class="card-header card-header-light rounded-3">
                    Бармены
                </div>
                <div class="card-body">
                    {% for position in positions %}
                        {% if position.priority_id >= 20 and position.priority_id <= 29 %}
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-4" style="position: relative; top: 5px;">
                                        <b>{{ position.name }}</b>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-select" name="position[{{ position.id }}]"
                                                placeholder="Выберите сотрудника">
                                            <option></option>
                                            {% for employee in position.employees %}
                                                {% if position.args.all_storages is False %}
                                                    {% if employee.storage.id == bar.id %}
                                                        <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card rounded-3 mb-2">
                <div class="card-header card-header-light rounded-3">
                    Повара
                </div>
                <div class="card-body">
                    {% for position in positions %}
                        {% if position.priority_id >= 10 and position.priority_id <= 19 %}
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-4" style="position: relative; top: 5px;">
                                        <b>{{ position.name }}</b>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-select" name="position[{{ position.id }}]"
                                                placeholder="Выберите сотрудника">
                                            <option></option>
                                            {% for employee in position.employees %}
                                                {% if position.args.all_storages is False %}
                                                    {% if employee.storage.id == bar.id %}
                                                        <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card rounded-3 mb-2">
                <div class="card-header card-header-light rounded-3">
                    Тех. служащие
                </div>
                <div class="card-body">
                    {% for position in positions %}
                        {% if position.priority_id >= 1 and position.priority_id <= 9 %}
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-4" style="position: relative; top: 5px;">
                                        <b>{{ position.name }}</b>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-select" name="position[{{ position.id }}]"
                                                placeholder="Выберите сотрудника">
                                            <option></option>
                                            {% for employee in position.employees %}
                                                {% if position.args.all_storages is False %}
                                                    {% if employee.storage.id == bar.id %}
                                                        <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card rounded-3">
                <div class="card-body">
                    <button type="submit" class="btn btn-tabler w-100">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
