{% extends 'bar_base.html' %}

{% block body %}
    <div class="container-xl">
{#        <div class="card rounded-3 mb-2">#}
{#            <div class="card-body">#}
{#                <label class="form-label">Касса вечер предыдущего дня</label>#}
{#                <input class="form-control" value="{% if evening_cashbox_previous_day %}{{ evening_cashbox_previous_day }}{% else %}Касса вечер предыдущего дня не была заполнена{% endif %}" disabled>#}
{#            </div>#}
{#        </div>#}
        <div class="card rounded-3 mb-2">
            <div class="card-body">
                <label class="form-label">Касса утро</label>
                <input class="form-control" type="tel" inputmode="numeric"
                       name="sum_cash_morning" value="{% if morning_cashbox is not None %}{{ morning_cashbox }}{% else %}Касса вечер предыдущего дня не была заполнена{% endif %}" disabled><br>
                <a data-bs-toggle="modal" data-bs-target="#revise" class="btn w-100">Сверка</a>
            </div>
        </div>
        <div class="modal modal-blur fade" id="revise" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form id="revise-form" method="post">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title">Заявка на сверку</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3 align-items-end">
                                <div class="col">
                                    <label class="form-label">Укажите причину сверки</label>
                                    <input class="form-control" name="revise-reason"
                                           placeholder="Введите причину"/>
                                    <div class="text-muted">* Данная причина будет отправлена руководству</div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn me-auto" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card rounded-3 overflow-hidden mb-2">
            <table id="table" class="table card-table table-mobile-sm table-hover">
                <tbody>
                {% for row in rows %}
                    <tr onclick="delete_confirm('{{ row.id }}', 'Вы действительно хотите удалить сотрудника {{ row.employee.fio }}?', '/bar/timetable/delete')">
                        <td>
                            <i class="fa fa-{% if row.employee.job_place.name == 'Бармен' %}beer-mug-empty{% elif row.employee.job_place.name == 'Повар' or row.employee.job_place.name == 'Су-Шеф' %}bell-concierge{% elif row.employee.job_place.name == 'Тех. служащий' %}broom{% endif %}"></i>
                            {{ row.employee.fio }}<br>
                            <span class="text-sm text-secondary">{{ row.position.name }}</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <form action="{% url 'Bar:index' %}?code={{ code }}" method="post">
            {% csrf_token %}
            <div class="card rounded-3 mb-2">
                <div class="card-header card-header-light rounded-3">
                    Бармены
                </div>
                <div class="card-body">
                    {% for position in positions %}
                        {% if position.priority_id >= 20 and position.priority_id <= 29 %}
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-4" style="position: relative; top: 5px;">
                                        <b>{{ position.name }}</b>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-select" name="position[{{ position.id }}]"
                                                placeholder="Выберите сотрудника">
                                            <option></option>
                                            {% for employee in position.employees %}
                                                {% if position.args.all_storages is False %}
                                                    {% if employee.storage.id == bar.id %}
                                                        <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card rounded-3 mb-2">
                <div class="card-header card-header-light rounded-3">
                    Повара
                </div>
                <div class="card-body">
                    {% for position in positions %}
                        {% if position.priority_id >= 10 and position.priority_id <= 19 %}
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-4" style="position: relative; top: 5px;">
                                        <b>{{ position.name }}</b>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-select" name="position[{{ position.id }}]"
                                                placeholder="Выберите сотрудника">
                                            <option></option>
                                            {% for employee in position.employees %}
                                                {% if position.args.all_storages is False %}
                                                    {% if employee.storage.id == bar.id %}
                                                        <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card rounded-3 mb-2">
                <div class="card-header card-header-light rounded-3">
                    Тех. служащие
                </div>
                <div class="card-body">
                    {% for position in positions %}
                        {% if position.priority_id >= 1 and position.priority_id <= 9 %}
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-4" style="position: relative; top: 5px;">
                                        <b>{{ position.name }}</b>
                                    </div>
                                    <div class="col-8">
                                        <select class="form-select" name="position[{{ position.id }}]"
                                                placeholder="Выберите сотрудника">
                                            <option></option>
                                            {% for employee in position.employees %}
                                                {% if position.args.all_storages is False %}
                                                    {% if employee.storage.id == bar.id %}
                                                        <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                    {% endif %}
                                                {% else %}
                                                    <option value="{{ employee.id }}">{{ employee.fio }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="card rounded-3">
                <div class="card-body">
                    <button type="submit" class="btn btn-tabler w-100">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#revise-form').submit(function() {
                $.ajax({
                    data: $(this).serialize(),
                    type: 'post',
                    url: '/bar/revise?code={{ code }}',
                    success: function (response) {
                        document.getElementById('revise-form').reset()
                        notification(true, 'Ваша заявка была успешно отправлена.')
                    }
                })
                return false
            })
        })
    </script>
{% endblock %}
