{% extends 'bar_base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3 mb-2">
            <div class="card-header card-header-light rounded-top-3">
                Неисправности
            </div>
            <div class="card-body">
                <form action="{% url 'Bar:malfunctions' %}?code={{ code }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="malfunction-photo" class="form-label">Фото</label>
                        <input class="form-control" type="file" name="malfunction-photo" id="malfunction-photo"
                               required>
                    </div>
                    <div class="mb-4">
                        <label for="fault-object" class="form-label">Объект неисправности</label>
                        <input class="form-control" name="fault-object" id="fault-object"
                               placeholder="Укажите объект неисправности" required>
                    </div>
                    <div class="mb-3">
                        <label for="malfunction-description" class="form-label">Описание неисправности</label>
                        <textarea
                                name="malfunction-description" id="malfunction-description"
                                class="form-control" placeholder="Введите описание неисправности" required></textarea>
                    </div>
                    <div class="mb-1">
                        <button type="submit" class="btn btn-success w-100">Добавить неисправность</button>
                    </div>
                </form>
            </div>
        </div>
        {% for row in rows %}
            {% if row.status != 2 %}
                <div class="mb-3">
                    <div class="card rounded-3">
                        <div class="card-body">
                            <a class="image-popup btn btn-tabler w-100" title="Фото" href="{{ row.photo.url }}">
                                Посмотреть фото
                            </a><br><br>
                            Дата: {{ row.date_at|date:'Y-m-d H:i' }}<br>
                            Объект неисправности: {{ row.fault_object }}<br>
                            Описание: {{ row.description }}<br><br>
                            {% if row.status == 1 %}
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{% url 'Bar:malfunction_complete' %}?code={{ code }}&id={{ row.id }}" class="btn w-100">Подтвердить</a>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-danger w-100" data-bs-toggle="modal"
                                                data-bs-target="#cancel-modal-{{ row.id }}">Отмена
                                        </button>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-6">
                                        <button class="btn w-100" disabled>Подтвердить</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-danger w-100" disabled>Отмена
                                        </button>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal modal-blur fade" id="cancel-modal-{{ row.id }}" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form action="{% url 'Bar:malfunction_complete' %}?id={{ row.id }}&code={{ code }}" method="post">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col">
                                            <label class="form-label">Комментарий</label>
                                            <input type="text" class="form-control" name="comment"
                                                   placeholder="Введите причину отмены"
                                                   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Закрыть
                                    </button>
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
                                        Отправить
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
{% endblock %}
