{% extends 'base.html' %}

{% block title %}Закупщик{% endblock %}
{% block page_title %}Закупщик{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped table-hover nowrap w-100"
                           id="table">
                        <thead>
                            <tr class="column-filter dt-column-filter">
                                <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            </tr>
                            <tr>
                                <th>Дата</th>
                                <th>Забрал</th>
                                <th>Потратил</th>
                                <th>Разница</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        $.ajax({
            url: '{% url 'LK:purchaser_get_table' %}',
            method: 'get',
            success: function(response) {
                run_datatable_with_json('table', response.data, [
                        {data: 'date_at'},
                        {data: 'received'},
                        {data: 'spent'},
                        {data: 'difference'}
                    ]
                )}
            })
    </script>
{% endblock %}