{% extends 'base.html' %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-3">
                <b>Заказ №{{ table.order_num }}</b>
            </div>
            <div class="card-body">
                <center><big>{% if table.is_open and not table.is_prechequed %}Открытый{% elif table.is_prechequed %}Пречек{% else %}Закрытый{% endif %}</big></center><br>
                <center>{{ table.storage_name }}</center><br>
                <center>Стол: {{ table.table_num }}</center><br>
                <center>открыт: {{ table.time.open }}</center><br>
                {% if table.is_precheque %}<center>пречек: {{ table.time.precheque }}</center><br>{% endif %}
                {% if not table.is_open %}<center>закрыт: {{ table.time.close }}</center><br>{% endif %}
                {% for dish in table.dishes %}
                    {{ dish.dish }} - {{ dish.count }}<br>
                {% endfor %}
                <center>Подытог: {{ table.sum.subtotal }}</center><br>
                <center>Итог: {{ table.sum.total }}</center><br>
            </div>
        </div>
    </div>
{% endblock %}
