{% extends 'base.html' %}

{% block body %}
    <div class="container-xl row">
        {% for storage in storages %}
            <div class="col-3">
                <div class="card rounded-3 mb-4">
                    <div class="card-header card-header-light"><b>{{ storage.name }}</b> (<span id="text_{{ storage.id }}">0/0</span>)</div>
                    <div class="list-group list-group-flush" id="card[{{ storage.id }}]"></div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/iiko/temp/online_tables',
                type: 'get',
                success: function (response) {
                    let tables = response.tables
                    let status = ''
                    let status_color = ''
                    for (let table_id in tables) {
                        let table = tables[table_id]
                        let card = $('#card\\[' + table.storage_id + '\\]')
                        if (table.is_precheque === true && table.is_open === true) {
                            status = 'Пречек'
                            status_color = 'warning'
                        } else if (table.is_open === true) {
                            status = 'Открыт'
                            status_color = 'success'
                        } else {
                            if(table.is_deleted === true) {
                                status = 'Удален'
                                status_color = 'danger'
                            } else {
                                status = 'Закрыт'
                                status_color = 'danger'
                            }
                        }
                        let data = '<a class="list-group-item list-group-item-action" ' +
                            'href="/iiko/online_tables_by_order_num?order_num=' + table.order_num + '">' +
                            '<div class="text-truncate">' +
                            'Чек ' + table.order_num +
                            '</div>' +
                            '<div class="text-' + status_color + '">' +
                            status +
                            '</div>' +
                            '</a>'
                        if(table.is_open === true) card.prepend(data)
                        else card.append(data)
                    }
                    {% for storage in storages %}
                        $('#text_{{ storage.id }}').html(tables.count[{{ storage.id }}]['open'] + '/' + tables.count[{{ storage.id }}]['close'])
                    {% endfor %}
                }
            })
        })
    </script>
{% endblock %}
