{% extends 'base.html' %}

{% block title %}Стоплист{% endblock %}
{% block page_title %}Стоплист{% endblock %}

{% block body %}
    <div class="container-xl">
        <button class="btn w-100 mb-2" id="update-button">Обновить стоплист</button>
        <div class="row row-cards">
            {% for row in rows %}
                <div class="card rounded-3" id="storage_{{ row.storage_id }}">
                    <div class="card-header card-header-light rounded-top-3"><b>{{ row.storage }}</b></div>
                    <div class="data-card" style="">
                        <div class="list-group list-group-flush" id="list-group_{{ row.storage_id }}">
                            {% for item in row.stoplist %}
                                <a class="list-group-item">{{ item.product_name }} ({{ item.date_at }})</a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body preloader-card" style="display: none;">
                        <div class="text-center">
                            <div class="progress progress-sm">
                                <div class="progress-bar progress-bar-indeterminate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#update-button').click(function () {
                $('.preloader-card').attr('style', '')
                $('.data-card').attr('style', 'display: none;')
                $.ajax({
                    url: '{% url 'IIKO:stoplist_update' %}',
                    method: 'get',
                    success: function (response) {
                        let status = response.status
                        let rows = response.rows

                        if(status === true) {
                            rows.forEach(function (row) {
                                let storageId = row["storage_id"];
                                let stoplist = row["stoplist"];
                                let storageCard = $("#list-group_" + storageId);
                                storageCard.html('')
                                stoplist.forEach(function(item) {
                                   storageCard.append('<a class="list-group-item">' + item + '</a>');
                                });
                            })
                        }

                        $('.preloader-card').attr('style', 'display: none;')
                        $('.data-card').attr('style', '')
                    }
                });
            });
        });
    </script>
{% endblock %}
