{% extends 'base.html' %}

{% block title %}Заведения{% endblock %}
{% block page_title %}Заведения{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-top-3">
                <h3 class="card-title">Список заведений (вход по клику)</h3>
                <div class="card-actions">
                    <a href="/iiko/storages/update" class="btn btn-primary">Обновить заведения</a>
                    <a href="/iiko/terminals/update" class="btn btn-primary">Обновить терминалы</a>
                </div>
            </div>
            <div class="card-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Заведение</th>
                            <th>Дата оплаты (аренда)</th>
                            <th>ID Telegram чата</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bar in bars %}
                            <tr>
                                <td><a href="/bar?code={{ bar.storage.code }}">{{ bar.storage.name }}</a></td>
                                <td></td>
                                <td>{% if bar.tg_chat_id %}<span class="text-success"><i class="fa fa-circle-check"></i></span>{% else %}<span class="text-danger"><i class="fa fa-circle-xmark"></i></span>{% endif %}</td>
                                <td><a href="/lk/bars/settings?id={{ bar.id }}"><i class="fa fa-gear"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

