{% extends 'base.html' %}

{% block title %}Заведения{% endblock %}
{% block page_title %}Заведения{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card">
            <div class="card-header card-header-light rounded-top-3">
                <h3 class="card-title">Список заведений (вход по клику)</h3>
                <div class="card-actions">
                    <a href="/iiko/storages/update" class="btn btn-primary">Обновить заведения</a>
                    <a href="/iiko/terminals/update" class="btn btn-primary">Обновить терминалы</a>
                </div>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush list-group-hoverable">
                    {% for bar in bars %}
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col text-truncate">
                                    <a href="/bar?code={{ bar.code }}" class="text-reset d-block">{{ bar.name }}</a>
                                    <div class="d-block text-muted text-truncate mt-n1"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

