{% extends 'base.html' %}

{% block title %}Заведения{% endblock %}
{% block page_title %}Заведения{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card">
            <div class="card-header card-header-light rounded-top-3">
                <h3 class="card-title">Список заведений (вход по клику)</h3>
                <div class="card-actions">
                    <a href="/iiko/storages/update" class="btn btn-primary">Обновить заведения</a>
                </div>
            </div>
            <div class="card-body">
                <div class="list-group list-group-flush list-group-hoverable">
                    {% for bar in bars %}
                        <div class="list-group-item">
                            <div class="row align-items-center">
                                <div class="col text-truncate">
                                    <a href="/bar?code={{ bar.code }}" class="text-reset d-block">{{ bar.name }}</a>
                                    <div class="d-block text-muted text-truncate mt-n1"></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header card-header-light rounded-top-3">
                <h3 class="card-title">Настройки</h3>
            </div>
            <div class="card-body">
                <form action="{% url 'LK:bars' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label class="form-label" for="percent">Процент барменов</label>
                        <input class="form-control" type="tel" id="percent" name="percent"
                               placeholder="Введите процент для барменов целым числом, либо через . (2.5, 3.0 итд.)" value="{{ setting.percent }}">
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Привязка страниц приложения к Telegram чатам <a href="#"
                                                                                                  data-bs-toggle="modal"
                                                                                                  data-bs-target="#how-to-chat-id">Как
                            узнать ID чата?</a></label>
                        <div class="row">
                            <div class="col-4">
                                <select class="form-select" name="chat-type-id"
                                        aria-label="Floating label select example">
                                    <option value="-1" selected="">Список чатов</option>
                                    {% for chat in chats %}
                                        {% for k, v in setting.telegram_chats.items %}
                                            {% if chat.id == k %}
                                                <option value="{{ chat.id }}">{{ chat.name }} (заполнено)</option>
                                            {% else %}
                                                <option value="{{ chat.id }}">{{ chat.name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-8">
                                <input type="text" class="form-control" name="chat-id" placeholder="Введите ID чата">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
    <div class="modal modal-blur fade" id="how-to-chat-id" tabindex="-1" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-primary"></div>
                <div class="modal-body text-center py-4">
                    <!-- Download SVG icon from http://tabler-icons.io/i/circle-check -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-primary icon-lg" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                        <path d="M12 8l.01 0"></path>
                        <path d="M11 12l1 0l0 4l1 0"></path>
                    </svg>
                    <h3>Как получить ID чата?</h3>
                    <div class="text-muted">Создайте беседу с Вами и ботом, который привязан к Вашему приложению. Затем
                        отправьте в эту беседу команду: <b>/get_chat_id</b> и вставьте полученные цифры в сообщении в
                        поле для ввода ниже.<br>
                        <b>Фото инструкция:</b></div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <div class="col"><a href="#" class="btn btn-primary w-100" data-bs-dismiss="modal">
                                ОК
                            </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

