{% extends 'base.html' %}

{% block title %}Настройки заведений{% endblock %}
{% block page_title %}Настройки заведения {{ row.storage.name }}{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <!-- Cards navigation -->
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs nav-fill">
                    <li class="nav-item"><a href="#tab-top-1" id="btn-tab-top-1" class="tab-top nav-link active"
                                            data-bs-toggle="tab">Настройка параметров</a></li>
                    <li class="nav-item"><a href="#tab-top-2" id="btn-tab-top-2" class="tab-top nav-link"
                                            data-bs-toggle="tab">Вопросы</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <!-- Content of card #1 -->
                <div id="tab-top-1" class="card tab-pane active show">
                    <div class="card-body">
                        <div class="card-title mb-2">Настройка параметров</div>
                        <form action="{% url 'LK:bars_settings' %}?id={{ row.id }}" method="post">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label class="form-label">Процент</label>
                                <input class="form-control" name="percent" placeholder="Введите процент для барменов"
                                       value="{{ row.percent }}">
                            </div>
                            <div class="mb-3">
                                <label class="form-label">ID телеграм чата заведения</label>
                                <input class="form-control" name="tg_chat_id"
                                       placeholder="Введите ID телеграм чата заведения"
                                       value="{% if row.tg_chat_id %}{{ row.tg_chat_id }}{% endif %}">
                            </div>
                            <div class="mb-2">
                                <button type="submit" class="btn bg-dark-lt w-100">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Content of card #2 -->
                <div id="tab-top-2" class="card tab-pane">
                    <div class="card-body">
                        <div class="card-title">Вопросы на конце дня</div>
                        <table class="table table-sm table-bordered table-striped table-hover nowrap w-100 mb-4">
                            <thead>
                            <tr>
                                <th>Сообщение</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for question in row.end_day_questions.all %}
                                <tr>
                                    <td>{{ question.text }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <form action="{% url 'LK:link_question_to_bar_setting' %}?id={{ row.id }}" method="post">
                            {% csrf_token %}
                            <div class="mb-1">
                                <label class="form-label">Существующие вопросы</label>
                                <select class="form-select" placeholder="Выберите вопрос из существующих"
                                        name="question_id">
                                    <option></option>
                                    {% for question in questions %}
                                        {% if question not in row.end_day_questions.all %}
                                            <option value="{{ question.id }}">{{ question.text }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <p class="text-muted mb-1">или</p>
                            <div class="mb-3">
                                <label class="form-label">Новый вопрос</label>
                                <input class="form-control" name="question_text"
                                       placeholder="Введите текст нового вопроса">
                            </div>
                            <div class="mb-2">
                                <button type="submit" class="btn bg-dark-lt w-100">Сохранить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal modal-blur fade" id="how-to-chat-id" tabindex="-1" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-status bg-primary"></div>
                <div class="modal-body text-center py-4">
                    <!-- Download SVG icon from http://tabler-icons.io/i/circle-check -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-primary icon-lg" width="24"
                         height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                         stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
                        <path d="M12 8l.01 0"></path>
                        <path d="M11 12l1 0l0 4l1 0"></path>
                    </svg>
                    <h3>Как получить ID чата?</h3>
                    <div class="text-muted">Создайте беседу с Вами и ботом, который привязан к Вашему приложению.
                        Затем
                        отправьте в эту беседу команду: <b>/get_chat_id</b> и вставьте полученные цифры в сообщении
                        в
                        поле для ввода ниже.<br>
                        <b>Фото инструкция:</b></div>
                </div>
                <div class="modal-footer">
                    <div class="w-100">
                        <div class="row">
                            <div class="col"><a href="#" class="btn btn-primary w-100" data-bs-dismiss="modal">
                                ОК
                            </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            let first_tab = $('#btn-tab-top-1')
            let second_tab = $('#btn-tab-top-2')
            first_tab.click(function () {
                $('.tab-top').removeClass('active')
                first_tab.addClass('active')
            })
            second_tab.click(function () {
                $('.tab-top').removeClass('active')
                second_tab.addClass('active')
            })
        })
    </script>
{% endblock %}
