{% extends 'base.html' %}

{% block title %}События{% endblock %}
{% block page_title %}События{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-table table-responsive">
                <table class="table" id="logs-table">
                    <thead>
                        <tr class="column-filter dt-column-filter">
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        </tr>
                        <tr>
                            <th>Дата</th>
                            <th>Владелец</th>
                            <th>Сущность</th>
                            <th>Запись</th>
                            <th>Действие</th>
                            <th>Информация</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        run_datatable('logs-table', '/api/logs', '/lk/logs', [
            {data: 'created_at'},
            {data: 'owner'},
            {data: 'entity'},
            {data: 'row'},
            {data: 'action_name'},
            {data: 'additional_data'}
        ], has_delete=false, has_update=false, has_dismiss=false, has_edit=false, has_actions=false)
    </script>
{% endblock %}
