{% extends 'base.html' %}

{% block title %}График{% endblock %}
{% block page_title %}Смены сотрудников{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-top-3">
                <h3 class="card-title">График</h3>
                <div class="card-actions">
                    <a href="#" id="update_timetable" class="btn btn-tabler">Обновить проценты и премии</a>
                    <a href="{% url 'LK:create_timetable' %}" class="btn btn-tabler">Создать запись</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped table-hover nowrap w-100"
                           id="timetable-table">
                        <thead>
                        <tr class="column-filter dt-column-filter">
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Дата</th>
                            <th>Заведение</th>
                            <th>Сотрудник</th>
                            <th>Позиция</th>
                            <th>Оклад</th>
                            <th>Процент</th>
                            <th>Премия</th>
                            <th>Штраф</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        run_datatable('timetable-table', '/api/timetable', '/lk/timetable', [
            {data: 'date_at'},
            {data: 'storage_name'},
            {
                data: null,
                render: function(data, type, row) {
                    return row.employee_fio + ' (' + row.employee_job_place + ')'
                }
            },
            {data: 'position_name'},
            {data: 'oklad'},
            {data: 'percent'},
            {data: 'premium'},
            {data: 'fine'}
        ])
        $(document).ready(function() {
            $('#update_timetable').click(function() {
                $.ajax({
                    url: '{% url 'LK:update_timetable' %}',
                    method: 'get',
                    success: function (response) {
                        notification(true, 'Обновление успешно началось. ' +
                                           'По завершению Вы получите уведомление в указанный в Вашем профиле телеграмм.')
                    }
                });
            })
        })
    </script>
{% endblock %}