{% extends 'base.html' %}

{% block title %}График{% endblock %}
{% block page_title %}Смены сотрудников{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-top-3">
                <h3 class="card-title">График</h3>
                <div class="card-actions">
                    <a href="{% url 'LK:create_timetable' %}" class="btn btn-tabler">Создать запись</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped table-hover nowrap w-100"
                           id="timetable-table">
                        <thead>
                        <tr class="column-filter dt-column-filter">
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                        </tr>
                        <tr>
                            <th>Дата</th>
                            <th>Заведение</th>
                            <th>Сотрудник</th>
                            <th>Позиция</th>
                            <th>Оклад</th>
                            <th>Процент</th>
                            <th>Премия</th>
                            <th>Штраф</th>
                        </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        run_datatable('timetable-table', '/api/timetable', '/lk/timetable', [
            {data: 'date_at'},
            {data: 'storage_name'},
            {data: 'employee_fio'},
            {data: 'position_name'},
            {data: 'oklad'},
            {data: 'percent'},
            {data: 'bonus'},
            {data: 'fine'}
        ])
    </script>
{% endblock %}