{% extends 'base.html' %}

{% block title %}Деньги{% endblock %}
{% block page_title %}Деньги{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-top-3"><h3 class="card-title">Кассовые смены</h3>
                <div class="card-actions">
                    <a href="{% url 'LK:update_all_money' %}" id="update_timetable" class="btn btn-tabler">Обновить кассовые смены</a>
                    <a href="{% url 'LK:money_differences' %}" class="btn btn-tabler">Расхождения в кассе</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped table-hover nowrap w-100"
                           id="money-table">
                        <thead>
                        <tr class="column-filter dt-column-filter">
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                            <th></th>
                        </tr>
                        <tr>
                            <th>Дата</th>
                            <th>Заведение</th>
                            <th>Касса утро</th>
                            <th>Выручка</th>
                            <th>Безнал</th>
                            <th>Нал</th>
                            <th>Маркеты</th>
                            <th>Внесения</th>
                            <th>Изъятия</th>
                            <th>Зарплата</th>
                            <th>Расходы</th>
                            <th>Касса вечер</th>
                            <th>Расчетный</th>
                            <th>Разница</th>
                            <th>Процент</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        run_datatable('money-table', '/api/money', '/lk/money', [
            {data: 'date_at'},
            {data: 'storage_name'},
            {data: 'sum_cash_morning'},
            {data: 'total_day'},
            {data: 'total_bn'},
            {data: 'total_cash'},
            {data: 'total_market'},
            {data: 'total_payin'},
            {data: 'total_payout'},
            {data: 'total_salary'},
            {data: 'total_expenses'},
            {data: 'sum_cash_end_day'},
            {data: 'calculated'},
            {data: 'difference'},
            {data: 'barmen_percent'},
        ], false, true)
    </script>
{% endblock %}
