{% extends 'brand_chief/base.html' %}

{% block page_name %}Нехватка{% endblock %}

{% block body %}
    <div class="container-xl">
        {% if is_filter %}
            <a href="{% url 'BrandChief:item_deficit' %}" class="btn btn-tabler w-100 mb-2">Сбросить фильтр</a>
        {% endif %}
        <div class="card rounded-3 mb-2">
            <div class="card-body">
                <form action="{% url 'BrandChief:item_deficit' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label">Предмет дефицита</label>
                        <input class="form-control" name="need_item" placeholder="Введите предмет дефицита">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Заведение</label>
                        <select class="form-select" name="storage_id" placeholder="Выберите заведение">
                            <option></option>
                            {% for storage in storages %}
                                <option value="{{ storage.id }}">{{ storage.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Количество нехватки</label>
                        <input class="form-control" name="amount_need_item" placeholder="Введите количество нехватки">
                    </div>
                    <div class="mb-2">
                        <button type="submit" class="btn w-100">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card rounded-3">
            <div class="card-table">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Заведение</th>
                        <th>Предмет</th>
                        <th>Кол-во</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in need_items %}
                        {% if item.status != 3 %}
                            <tr class="table-{% if item.status == 1 %}danger{% elif item.status == 2 %}warning{% endif %}">
                                <td>{{ item.created_at|date:'F d G:i' }}</td>
                                <td>
                                    <a href="{% url 'BrandChief:item_deficit' %}?storage_id={{ item.storage.id }}">{{ item.storage.name }}</a>
                                </td>
                                <td>{{ item.item }}</td>
                                <td>{{ item.amount }}</td>
                                <td>
                                    {% if item.status == 1 %}
                                        <a data-bs-toggle="modal" data-bs-target="#need-items-send-modal-{{ item.id }}"
                                           class="btn w-100">Отправить</a>
                                        <div class="modal modal-blur fade" id="need-items-send-modal-{{ item.id }}"
                                             tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <form action="/lk/need_items/send?id={{ item.id }}" method="post">
                                                        {% csrf_token %}
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                        <div class="modal-body text-center py-4">
                                                            <h3>Заполните информацию</h3>
                                                            <div class="text-muted" id="confirm-text">
                                                                <div class="mb-4">
                                                                    <input type="tel" inputmode="numeric"
                                                                           class="form-control" name="sended_amount"
                                                                           placeholder="Введите отправленное количество предметов">
                                                                </div>
                                                                <div class="mb-2">
                                                                    <input class="form-control" name="comment"
                                                                           placeholder="Введите комментарий (необязательно)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <div class="w-100">
                                                                <div class="row">
                                                                    <div class="col"><a href="#" class="btn w-100"
                                                                                        data-bs-dismiss="modal">
                                                                        Отмена
                                                                    </a></div>
                                                                    <div class="col">
                                                                        <button id="confirm-delete1"
                                                                                class="btn btn-tabler w-100"
                                                                                data-bs-dismiss="modal">
                                                                            Отправить
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
