{% extends 'base.html' %}

{% block title %}Редактирование роли{% endblock %}
{% block page_title %}Редактирование роли{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-top-3"><h3 class="card-title">Редактирование роли {{ row.name }}</h3>
            </div>
            <div class="card-body">
                <form action="{% url 'Admin:role_edit' %}?id={{ row.id }}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label">Наименование</label>
                        <input class="form-control" name="name" placeholder="Введите наименование для роли"
                               value="{{ row.name }}">
                    </div>
                    <div class="mb-3">
                        <div class="form-label">Возможности</div>
                        <div class="row">
                            <div class="col-6">
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="can-all" {% if row.can_all %}checked{% endif %}>
                                    <span class="form-check-label">Все (доступ ко всему)</span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="can-create" {% if row.can_create %}checked{% endif %}>
                                    <span class="form-check-label">Создавать</span>
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="can-edit" {% if row.can_edit %}checked{% endif %}>
                                    <span class="form-check-label">Редактировать</span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" name="can-delete" {% if row.can_delete %}checked{% endif %}>
                                    <span class="form-check-label">Удалять</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Страницы</label>
                        <select class="form-select" name="can-view" multiple>
                            {% for page in pages %}
                                <option value="{{ page.id }}" {% if page in row.can_view.all %}selected{% endif %}>{{ page.text }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-1">
                        <button type="submit" class="btn btn-success w-100">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
