{% extends 'base.html' %}

{% block title %}Создание записи внесения/изъятия{% endblock %}
{% block page_title %}Создание внесения или изъятия{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-body">
                <form action="{% url 'LK:create_pays' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label">Дата</label>
                        <input class="form-control date-at" name="date_at" placeholder="Выберите дату" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Заведение</label>
                        <select class="form-select" name="storage_id" placeholder="Выберите заведение" required>
                            <option></option>
                            {% for storage in storages %}
                                <option value="{{ storage.id }}">{{ storage.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Тип</label>
                        <select class="form-select" name="type" placeholder="Выберите тип" required>
                            <option></option>
                            <option value="1">Внесение</option>
                            <option value="2">Изъятие</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Получатель/отправитель</label>
                        <select class="form-select" name="from_to_id" placeholder="Выберите отправителя или получателя">
                            <option></option>
                            {% for from_to in pays %}
                                <option value="{{ from_to.name }}">{{ from_to.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Сумма</label>
                        <input type="tel" inputmode="numeric" class="form-control" name="sum"
                               placeholder="Введите сумму" required>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Комментарий</label>
                        <select class="form-select" name="comment" placeholder="Выберите комментарий" required>
                            <option></option>
                            {% for comment in pays %}
                                <option value="{{ comment.id }}">{{ comment.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-1">
                        <button type="submit" class="btn btn-success w-100">Создать</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
