{% extends 'base.html' %}

{% block title %}FAQ{% endblock %}
{% block page_title %}FAQ{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-top-3">
                <h3 class="card-title">FAQ</h3>
                <div class="card-actions">
                    <a href="{% url 'LK:create_faq' %}" class="btn btn-tabler">Создать вопрос</a>
                    <a href="{% url 'LK:create_faq_tag' %}" class="btn btn-tabler">Создать тег</a>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered table-hover table-responsive nowrap w-100"
                       id="faq-table">
                    <thead>
                    <tr>
                        <th>Вопрос</th>
                        <th>Теги</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="card-body">
                <table class="table table-sm table-striped table-bordered table-hover table-responsive nowrap w-100"
                       id="faq-tags-table">
                    <thead>
                    <tr>
                        <th>Наименование</th>
                        <th></th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        run_datatable('faq-table', '/api/faq', '/lk/faq', [
            {data: 'title'},
            {
                data: 'tags',
                render: function (data, type, row) {
                    let badges = row.tags.toString().split(",").map(function (tag) {
                        return '<span class="badge bg-blue-lt">' + tag.trim() + '</span>';
                    });
                    return badges.join(' ');
                }
            }
        ])
        run_datatable('faq-tags-table', '/api/faq-tags', '/lk/faq/tags', [
            {data: 'name'}
        ])
    </script>
{% endblock %}