{% extends 'base.html' %}

{% block title %}Редактирование штрафа{% endblock %}
{% block page_title %}Редактирование штрафа{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-body">
                <form action="{% url 'LK:edit_fine' %}?id={{ row.id }}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label class="form-label">Дата</label>
                        <input class="form-control date-at" name="date_at" placeholder="Выберите дату" value="{{ row.date_at|date:'Y-m-d' }}">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Сотрудник</label>
                        <select class="form-select" name="employee_id" placeholder="Выберите сотрудника">
                            <option></option>
                            {% for employee in employees %}
                                <option value="{{ employee.id }}" {% if row.employee_id == employee.id %}selected{% endif %}>{{ employee.fio }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Сумма</label>
                        <input type="tel" inputmode="numeric" class="form-control" name="sum"
                               placeholder="Введите сумму штрафа" value="{{ row.sum }}">
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Причина</label>
                        <select class="form-select" name="reason_id" placeholder="Выберите причину">
                            <option></option>
                            {% for reason in reasons %}
                                <option value="{{ reason.id }}" {% if reason.id == row.reason_id %}selected{% endif %}>{{ reason.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-1">
                        <button type="submit" class="btn btn-success w-100">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
