{% extends 'base.html' %}

{% block title %}Штрафы{% endblock %}
{% block page_title %}Список штрафов{% endblock %}

{% block body %}
    <div class="container-xl">
        <div class="card rounded-3">
            <div class="card-header card-header-light rounded-top-3">
                Штрафы
                <div class="card-actions">
                    <a href="{% url 'LK:create_fine' %}" class="btn btn-tabler">Добавить запись</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="fines-table" class="table table-sm table-striped table-hover table-bordered nowrap w-100">
                        <thead>
                            <tr class="column-filter dt-column-filter">
                                <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                                <th><input type="text" class="form-control form-control-sm" placeholder=""></th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Дата</th>
                                <th>Сотрудник</th>
                                <th>Сумма</th>
                                <th>Причина</th>
                                <th>Статус</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        run_datatable('fines-table', '/api/fines', '/lk/fines', [
            {data: 'date_at'},
            {data: 'employee_fio'},
            {data: 'sum'},
            {data: 'reason_name'},
            {data: 'is_received'}
        ])
    </script>
{% endblock %}
