<link rel="stylesheet" type="text/css" href="/assets/libs/DataTables/datatables.min.css"/>
<link href="/assets/css/tabler.min.css" rel="stylesheet"/>
<link href="/assets/css/tabler-vendors.min.css" rel="stylesheet"/>
<link href="/assets/css/bottom_menu.css" rel="stylesheet"/>
<link href="/assets/css/webfont/tabler-icons.min.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/fontawesome/css/all.min.css"/>
<link rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>👨‍🍳</text></svg>">