<script src="/assets/libs/litepicker/dist/litepicker.js" defer></script>
<script src="/assets/libs/tom-select/dist/js/tom-select.base.min.js" defer></script>
<script src="/assets/libs/DataTables/datatables.min.js"></script>
<script src="/assets/js/tabler.min.js" defer></script>
<script src="/assets/js/demo.min.js" defer></script>
<script src="/assets/js/notifications.js"></script>
<script src="/assets/js/datatables_custom_funcs.js"></script>
<script src="/assets/js/functions.js"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"
        integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script>
    $('.image-popup').magnificPopup({
        type: 'image'
    });
</script>